
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.clock {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #358a00;
  background-color: #bafeff; 
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}